footer {
    z-index: 9999;
    position: absolute;
    background-color:rgb(var(--kombu-green-rgb));
    color: rgba(var(--fawn-rgb),0.9);
    padding: 16px;
    margin-bottom: 0px;
    margin-top: 16px;
    padding: 32px, 100%;
    width:100%;
    height: 60px;
    bottom: 0;
    left: 0;
}
body{
    margin:0px;
    padding:0px;
    outline: none;
    border:0;
}
.textCenter{
    text-align: center;
}