
.header{
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    align-content: center;
}
.subtitle{
    font-size: 24px;
    text-align: center;
    align-content: center;
}
.border {
    border:2px solid #25ff13;
}
.text
{
    font-size: 16px;
    text-align: center;
    align-content: center;
}
.container{
    width: calc(100% +16px);
    margin-bottom: 0px;
    min-height: 320px;
    box-shadow: 0px 0px;
    background-color: transparent;
    border: None;
    /* margin: 0px -12px !important; */
}
.cardBody {
    width: inherit;
    padding: 0px 0px !important;
    overflow: hidden;
    margin: 0px -12px !important;
}
.containerBlock {
    width: 100%;
    padding: 16px !important;
    padding-top:24px !important
}
.containerBlock::before {
    content: " ";
}
.container img{
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    max-height: 500px !important;
    object-fit: cover;
    margin-left:-8px;
    margin-right:-8px;
}
.containerTextLeft {
    width: calc(100% -16px);
    padding: 16px 16px !important;
}
.containerImg {
    margin-left: -8px !important;
    max-height: 500px !important;
    object-fit: cover;
    width: calc(100% + 32px);
    height: calc(100% + 32px);
}
.joinContainer{
    min-height: 200px;
    width: calc(100%-16px);
    min-width: 250px;
    padding: 8px;
    background-color:rgba(224, 232, 199, 1);
    border-radius: 20px;
    align-content: center;
    text-align: center;
    border: none;
    cursor: pointer;
    margin: 16px !important;
}
.joinContainer::after {
    content: " ";
}

.joinContainer img{
    width: 100% !important;
    max-height: 100% !important;
    object-fit: cover;
}
.joinContainer  .header {
    color: rgba(var(--kombu-green-rgb),0.9);
}
.joinContainer  .subtitle {
    color: rgba(var(--kombu-green-rgb),0.9);
}
.buttonCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}
.buttonCenter > a {
    border-radius: 30px;
    background-color: rgba(var(--orange-3),0.9);
    border: None !important;
    font-size: 16px;
    height: 40px;
    line-height: 25px;
    width: fit-content;
    vertical-align: middle;
    text-align: center;
}
.buttonCenter > a:hover {
    box-shadow: 1px 1px 1px 1px rgba(var(--orange-2),1);
    border-radius: 30px;
    background-color: rgba(var(--orange-3),0.9) !important;
    border: None !important;
}
@media only screen and (max-width: 768px){
    .header {
        font-size: 24px;
    }
    .subtitle{
        font-size: 18px;
        text-align: center;
        align-content: center;
        /* color: rgba(0,0,0,0.9); */
        /* color: white; */
    }
    .text
    {
        font-size: 14px;
        text-align: center;
        align-content: center;
        /* color: rgba(0,0,0,0.9); */
    }
    
    .buttonCenter > a {
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1020px){
    .header {
        font-size : 32px !important;
    }
    .subtitle{
        font-size: 22px;
        text-align: center;
        align-content: center;
        /* color: rgba(var(--fawn-rgb),0.9); */
    }
    .text
    {
        font-size: 14px;
        text-align: center;
        align-content: center;
        /* color: rgba(0,0,0,0.9); */
    }
    
    .buttonCenter > a {
        font-size: 14px;
    }
}
