body
{
    background-color: var(--dark-olive-green);
}
footer
{
    position: absolute;
}
a :hover
{
    color: rgb(122, 161, 42);
}
a
{
    text-decoration: solid;
    font-size: 1.5em;
    color: yellow;
}